// Fix the lux switch alignment (somehow this style is missing from the scss compilation)
.custom-control-label::after {
    top: calc(0.15625rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
}

// Fix the excessive padding on the left of text boxes.
.custom-select {
    padding-left: .9rem;
}

a.btn,
input[type=submit],
input[type=button] {
    text-align: center;
    outline: 0;
}

:focus {
    outline: 0;
}

.submit-animate.btn-info {
    border-color: $info;
}

.submit-animate.btn-primary {
    border-color: $primary;
}

.submit-animate.btn-secondary {
    border-color: $secondary;
}

.submit-animate.btn-warning {
    border-color: $warning;
}

.submit-animate.btn-danger {
    border-color: $danger;
}

.submit-animate.btn-info {
    border-color: $info;
}

.submit-animate {
    transition: border-radius 0.25s ease-in-out,
    background-color .4s ease-in-out,
    width .2s ease-in-out,
    height .2s ease-in-out;
}

.submit-animate.submit-animating {
    border-radius: 50% !important;
    background: transparent;
    color: transparent;
    border-width: 4px !important;
    border-style: solid !important;
    border-left-color: $gray-300 !important;
    border-left-width: 3px !important;
    animation: submit-rotating 1s ease-in,
    submit-rotating .7s linear infinite 1s,
    submit-rotating .5s linear infinite 1.7s;
    //width: 44px;
    //height: 44px;
    margin: 0;
    padding: 0;
}

.submit-animate.submit-animating:focus,
.submit-animate.submit-animating:active,
.submit-animate.submit-animating:visited,
.submit-animate.submit-animating:hover {
    outline: 0 !important;
    background: transparent !important;
    color: transparent !important;
    box-shadow: none !important;
}

@keyframes submit-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// Strange button height after npm update.
.form-control {
    height: auto;
}

.custom-select.is-invalid {
    border-width: 0 0 1px 0;
    border-color: $danger;
}
