@-webkit-keyframes pb {
    0% {
        width: 0%;
    }
    100% {
        width: 100%
    }
}

.progress .progress-bar.jquery {
    -webkit-transition: none !important;
    transition: none !important;
}

.progress-bar-auto-1 {
    -webkit-animation: pb 1s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 1s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-2 {
    -webkit-animation: pb 2s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 2s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-3 {
    -webkit-animation: pb 3s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 3s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-4 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-5 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-6 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-7 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-8 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-9 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}

.progress-bar-auto-10 {
    -webkit-animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
    animation: pb 4s ease-in-out .5s forwards, progress-bar-stripes 1s linear infinite;
}
