@-webkit-keyframes pb {
    0% {
        width: 0%;
    }
    100% {
        width: 100%
    }
}

.progress-bar-auto-1 {
    -webkit-animation: pb 1s ease-in .5s forwards;
    animation: pb 1s ease-in .5s forwards;
}

.progress-bar-auto-2 {
    -webkit-animation: pb 2s ease-in .5s forwards;
    animation: pb 2s ease-in .5s forwards;
}

.progress-bar-auto-3 {
    -webkit-animation: pb 3s ease-in .5s forwards;
    animation: pb 3s ease-in .5s forwards;
}

.progress-bar-auto-4 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}

.progress-bar-auto-5 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}

.progress-bar-auto-6 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}

.progress-bar-auto-7 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}

.progress-bar-auto-8 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}

.progress-bar-auto-9 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}

.progress-bar-auto-10 {
    -webkit-animation: pb 4s ease-in .5s forwards;
    animation: pb 4s ease-in .5s forwards;
}
