@import 'variables';
@import '~bootswatch/dist/lux/variables';
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/lux/bootswatch";
@import 'fileupload';
@import 'file';
@import 'progressbar';
@import '~font-awesome-scss/scss/font-awesome';

// Tooltips shouldn't be centered.
div.tooltip-inner {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    width: auto;
    min-width: 300px;
}

// Fix the lux switch alignment (somehow this style is missing from the scss compilation)
.custom-control-label::after {
    top: calc(0.15625rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
}
