# Nullify cron files so that costly cron jobs can gracefully go to sleep during a deployment.

files:
    "/etc/cron.d/laravel":
        mode: "000644"
        owner: root
        group: root
        content: |
            # Cron file nullified to ensure deployment succeeds. Will be regenerated shortly.
