# Configuration suggestions for Elastic Load Balancer

# Max out the timeout to support large uploads.
option_settings:
    -   namespace: aws:elb:policies
        option_name: ConnectionSettingIdleTimeout
        value: 3600

# Set timeouts to extend slightly beyond the above ELB setting with req. timeout in order to avoid 408 errors.
files:
    /etc/httpd/conf.d/mod_reqtimeout.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            <IfModule reqtimeout_module>
              RequestReadTimeout header=602,MinRate=500 body=602,MinRate=500
            </IfModule>
            TimeOut 3602
