# Global bash functions for simple Laravel apps.

files:
    "/bin/artisan":
        mode: "0000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            # artisan - Runs a artisan command as webapp user from anywhere in the EC2.
            #           Ensures we are using the webapp user.
            #           Works during deployment, and after instance is finalized.
            #
            # Example:
            #   console cache:clear
            params=$@
            if [ -f "./artisan" ]
            then
                sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php ./artisan $params"
            else
                sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php /var/app/current/artisan $params"
            fi

    "/bin/logs":
        mode: "0000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            # logs - Tail common error logs for realtime debugging from within the environment.
            tail -f /var/log/httpd/error_log /var/app/current/storage/logs/*
