# Cloudflare configuration (optional).

packages:
    yum:
        glibc.i686: []
        libtool: []
        httpd24-devel: []

files:
    /etc/httpd/conf.d/cloudflare.conf:
        mode: "000644"
        owner: root
        group: root
        encoding: plain
        content: |
            CloudFlareRemoteIPHeader X-Forwarded-For
            CloudFlareRemoteIPTrustedProxy 10.0.0.0/8

            # Support flexible SSL.
            <Directory /var/app/current/public>
              SetEnvIf X-Forwarded-Proto "https" HTTPS=on
            </Directory>

    /opt/elasticbeanstalk/hooks/appdeploy/post/99_cf_purge_all.sh:
        mode: "000755"
        owner: root
        group: root
        encoding: plain
        content: |
            #!/usr/bin/env bash
            # Pure the Cloudflare zone completely.
            # Should only be used if this project is the only thing on the domain (no subdomains or other applications).
            if [ -z "$CF_ZONE" ]
            then
                echo "No zone specified. Cloudflare will not be purged."
                exit 0
            fi
            if [ -z "$CF_USER" ]
            then
                echo "No user specified. Cloudflare will not be purged."
                exit 0
            fi
            if [ -z "$CF_TOKEN" ]
            then
                echo "No token specified. Cloudflare will not be purged."
                exit 0
            fi
            curl -X DELETE "https://api.cloudflare.com/client/v4/zones/$CF_ZONE/purge_cache" \
                -H "X-Auth-Email: $CF_USER" \
                -H "X-Auth-Key: $CF_TOKEN" \
                -H "Content-Type: application/json" \
                --data '{"purge_everything":true}' -s -w "%{http_code}" -o /dev/null

commands:
    20_cloudflare:
        command: wget https://raw.githubusercontent.com/heathdutton/mod_cloudflare/master/mod_cloudflare.c
        cwd: /tmp
    21_cloudflare:
        command: apxs -a -i -c mod_cloudflare.c
        cwd: /tmp

