# Logging Configuration.
# NOTE IAM permissions may need to be set for this to include laravel logs without manual setup.
# See: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html

# Stream all pertinent logs to CloudWatch with absolute retention.
option_settings:
    aws:elasticbeanstalk:cloudwatch:logs:
        StreamLogs: true
        DeleteOnTerminate: false

# Instruct Elastic Beanstalk to pay attention to this project's logs.
files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/app/current/storage/logs/*.log
            /var/app/ondeck/storage/logs/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/app/current/storage/logs/*.log
            /var/app/ondeck/storage/logs/*.log

    # Override the default beanstalk logs to combine all instances (more useful) and include laravel application logs.
    "/etc/awslogs/config/beanstalklogs.conf":
        mode: "000600"
        owner: root
        group: root
        content: |
            [/var/app/current/storage/logs]
            log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/storage/logs"]]}`
            log_stream_name = combined
            file = /var/app/current/storage/logs/*.log

            [/var/log/httpd/error_log]
            log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/error_log"]]}`
            log_stream_name = combined
            file = /var/log/httpd/error_log*

            [/var/log/httpd/access_log]
            log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/access_log"]]}`
            log_stream_name = combined
            file = /var/log/httpd/access_log*

            [/var/log/eb-activity.log]
            log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/httpd/eb-activity.log"]]}`
            log_stream_name = combined
            file = /var/log/eb-activity.log*

container_commands:
    # Remove any previous log file config iterations.
    41_cleanup_logs:
        command: |
            rm -f /opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf.bak \
              /opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf.bak
    # Start/restart AWS log stream.
    42_awslogs_on:
        command: sudo chkconfig awslogs on
        ignoreErrors: true
    43_awslogs_restart:
        command: sudo service awslogs restart
        ignoreErrors: true
