# PHP configuration.

option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public
        memory_limit: 6000M
        zlib.output_compression: "Off"
        allow_url_fopen: "On"
        display_errors: "Off"
        max_execution_time: 3600

files:
    "/etc/php.d/laravel.ini":
        mode: "000644"
        owner: webapp
        group: webapp
        content: |
            ; Warning, Cloudflare upload limits are at 100M by default. Enterprise is needed to go higher.
            post_max_size = 6000M
            upload_max_filesize = 6000M

            ; Session lifespan of 3 hours.
            session.gc_maxlifetime = 10800

            [opcache]
            opcache.enable = On
            opcache.enable_cli = On
            opcache.file_cache = "/tmp/opcache"
            opcache.validate_timestamps = On
            opcache.revalidate_freq = 300
            opcache.memory_consumption = 256

            ; Cloudflare will timeout at 60 seconds, this limit will be automatically superceeded by Laravel as needed.
            max_execution_time = 3600

            ; Rather high limit for Laravel in production.
            memory_limit = 6000M

            ; Disable functions that could be dangerous to this application in Elastic Beanstalk.
            disable_functions = phpinfo,exec,system,passthru

            [apc]
            apc.enabled = On
            apc.enable_cli = On
            apc.shm_size = 256M
            apc.writable = "/tmp/apc"
