# Disk permissions and mount configuration.

packages:
    yum:
        nfs-utils: []

container_commands:
    # First create any missing folders/files.
    60_io_local_create:
        command: |
            mkdir -p storage/private \
              storage/private/logs
    # Mount our EFS drive for shared storage across nodes.
    61_io_efs_mount:
        command: bash scripts/aws-efs-mount.sh
    # Ensure the EFS mount has our desired folders.
    62_io_efs_create_folders:
        leader_only: true
        command: |
            mkdir -p /efs/laravel \
              /efs/laravel/app \
              /efs/laravel/app/storage \
              /efs/laravel/app/storage/private \
              /efs/laravel/app/storage/logs
    # Replace our local folders with symlinks to the EFS mounted equivalents.
    63_io_efs_links:
        command: |
            rm -rf app/storage/private
            ln -sf /efs/laravel/app/storage/private app/storage/private
            rm -rf app/storage/logs
            ln -sf /efs/laravel/app/storage/private app/storage/logs
    # Override all EFS permissions as a precaution. At large scale this step may need to be removed.
    64_io_efs_permissions:
        leader_only: true
        command: |
            chown -R webapp:webapp /efs/laravel
            chgrp -R webapp /efs/laravel
            chmod -R ug+wx /efs/laravel
    # Override local permissions.
    65_io_local_permissions:
        command: |
            chown -R webapp:webapp .
            find . -type f -exec chmod 644 {} \;
            find . -type d -exec chmod 755 {} \;
            chgrp -R webapp storage bootstrap/cache
            chmod -R ug+rwx storage bootstrap/cache
