# General commands for Laravel.

container_commands:
    70_laravel_clear_all:
        command: |
            artisan optimize:clear
            artisan view:clear
            artisan event:clear
            artisan debugbar:clear
        ignoreErrors: true
    72_laravel_migrate:
        command: artisan migrate
        ignoreErrors: true
        leader_only: true
    73_laravel_seed:
        command: artisan db:seed
        ignoreErrors: true
        leader_only: true

files:
    /opt/elasticbeanstalk/hooks/appdeploy/post/74_laravel_optimize.sh:
        mode: "000755"
        owner: root
        group: root
        encoding: plain
        content: |
            #!/usr/bin/env bash
            artisan optimize
            artisan view:cache
            artisan event:cache
