# Cron task configuration required for this project.

# All cron tasks should be executed as webapp for security.
container_commands:
    80_webapp_home:
        command: mkdir -p /home/webapp
    81_webapp_permission:
        command: chown -R webapp:webapp /home/webapp
    82_remove_previous_cron_webapp:
        command: crontab -u webapp -r || exit 0
    83_remove_previous_cron_root:
        command: crontab -u root -r || exit 0
    84_remove_previous_cron_backups:
        command: rm -f /etc/cron.d/*.bak

files:
    "/etc/cron.d/laravel":
        mode: "000644"
        owner: root
        group: root
        content: |
            # This will be ran on all instances.
            * * * * * root artisan schedule:run 1>> /dev/null 2>&1
